<div class="login-form-wrapper">
	<div class=container>
		<div class="login-form">
			<h2>ログイン</h2>
			<div class="login-body">
				<% if @error_message %>
				 <div class="message">
				 	<%= @error_message %>
				 </div>
				
				 <% end %>
				<%= form_tag('/login') do%>
				<input class="form-data" type="email" name="email" placeholder="メールアドレス" value="<%= @email %>">
				<input class="form-data" type="password" name="password" placeholder="パスワード">
				<input class="btn" type="submit" value="ログイン">
				<% end %>
			</div>
		</div>
	</div>
</div>