<div class="recommend-show">
	<div class="container">
		<h2 class="recommend-title">旬物</h2>
		<div class="recommend-item">
			<div class="recpost" data-id= <%= @recpost.id %> >
				<ul>
					
				</ul>
			</div>
			<div class="change-item">
				<div class="change-btn prev-btn"><div class="fa fa-arrow-right"></div></div>
				<div class="change-btn next-btn"><div class="fa fa-arrow-left"></div></div>
			</div>
		</div>
	</div>
</div>

<div class="posts-show">
	<div class="container">
		<h2>投稿一覧</h2>
		<div class="posts">
		<% @posts.each do |post| %>
			<div class="post">
				<div class="post-logo">
					<img alt="" src= <%= "/post_images/#{post.image_name}"%> >
				</div>
				<div class="post-user-logo">
					<img alt="" src= <%= "/user_images/default.jpg"%>>
				</div>
				<div class="post-comment">
					<%= post.comment %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>


