<div class="main post-index-wrapper">
	<div class="recommend-show">
		<div class="container">
			<h2 class="recommend-title" id="recommend-title">いいねが多い投稿</h2>
			<div class="recommend-item">
				<% if @favpost %>
					<div class="favpost" data-id= <%= @favpost.id %> >
						<ul>
						</ul>
					</div>
				<% else %>
					<div class="favpost">  <!-- いいねが１つも無い場合 -->
						<ul>
							<li class="slide active">
								<img src="/rainbow.jpg" alt="まだいいねされてません">
							</li>
						</ul>
						
					</div>
				<% end %>
				<div class="change-item">
					<div class="change-btn prev-btn" id="prev"><span class="fa fa-arrow-left fa-2x"></span></div>
					<div class="change-btn next-btn" id="next"><span class="fa fa-arrow-right fa-2x"></span></div>
				</div>
			</div>
		</div>
	</div>

	<div class="posts-show">
		<div class="container">
			<h2>投稿一覧</h2>
			<%= form_tag posts_path, :method => 'get' do%>
				<%= text_field_tag :search, @search, class:"search", placeholder:"都道府県から検索"%>
  				<button type="submit" name="commit" class="search-btn">
  					<i class="fas fa-search fa-2x"></i>
  				</button>
			<% end %>
			<%= render partial: 'posts/post', locals:{posts: @posts}  %>
		</div>
	</div>
</div>
