<div class="post-new">
	<div class="container">
		<h2>新規投稿ページ</h2>
		<%= form_for(@post, url:{controller:'posts', action:'create'}) do |f|%>
		<div class="form">
			<div class="form-body">
				<div class="image-form">
					<p>画像</p>
					<%= f.file_field :post_image, class:"input-image" %>
				</div>
				<div class="comment-form">
					<p>コメント</p>
					<%= f.text_area :comment, class:"input-comment", rows:"4",value:@post.comment %>
				</div>
				<div class="submit-btn-form">
					<%= f.submit '投稿' %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

