//reggistrations
.singup-form-wrapper, .login-form-wrapper, .user-edit-wrapper, .forgot-password-wrapper{
	text-align: center;
}

.field input{
	font-size: 16px;
	width: 50%;
}

.form .email{
	margin-bottom: 10px;
}

.form{
	font-size: 20px;
}

