//reggistrations
.singup-form-wrapper, .login-form-wrapper, .user-edit-wrapper, .forgot-password-wrapper, .edit_password_wrapper{
	text-align: center;
}

.form{
	.field {
		input{
			font-size: 16px;
			width: 50%;
		}
		margin-bottom: 10px
	}
	.actions{
		margin-bottom: 15px;
	}
}

