// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-new-wrapper, .post-show-wrapper, .post-edit-wrapper{
	margin-top: 150px;
}

// new
.post-form-body{
	h3{
		margin-top: 20px;
	}

	.title-form{
		h3{
			margin-top: 0px;
		}
		input{
			width: 60%;
			font-size: 20px;
		}
	}

	.image{
		font-size: 15px;
	}

	.image-form{
		.preview{
			img{
				width: 400px;
				height: 300px;
			}
		}
	}

	.comment-form{
		textarea{
			font-size: 20px;
			width: 80%;
			height: 150px;
		}
	}

	.detail-form{
		.detail-form-table{
			th{
				font-weight: 20;
			}
			input{
				margin-left: 20px;
				width: 100px;
			}
		}
	}

	

}

input[type="submit"]{
	font-size: 15px;
	margin-top:10px;
	border-style: none;
	padding: 0.5em 1em;
  	background: #f7f7f7;
  	border-left: solid 6px #ff7c5c;
  	color: #ff7c5c;
  	font-weight: bold;
 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
 }

input[type="submit"]:active {
 	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  	transform: translateY(2px);
}

// show
.post-item{
	background-color: white;
  	box-shadow: 0 2px 6px #c1ced7;
  	padding: 25px;
  	width: 70%;
  	margin: 0 auto;
  	position: relative;
  	h3{
		margin-top: 20px;
  	}
	.post-user-info{
		padding-bottom: 20px;
		border-bottom: 1px solid #CCCCCC;
		img{
			vertical-align: middle;
			width: 110px;
			height: 80px;
			border-radius: 50%;
		}
		a{
			vertical-align: middle;
			text-decoration: none;
			font-size: 24px;
			&:hover{
				cursor: pointer;
				color: #3ecdc6;
			}
		}
	}

	.post-content{
		padding-bottom: 15px;
		border-bottom: 1px solid #CCCCCC;
		img{
			width: 600px;
			height: 400px;
		}
		.post-comment{
			font-size: 20px;
		}
		.post-time{
			color: #8899a6;
			position: absolute;
			bottom: 0;
			right: 0;
			margin:10px;
		}
	}

	.post-detail-table{
		border-collapse: collapse;
		th, td{
			border: 1px solid #B5B5B5;
		}
		th{
			background-color: #D7D7D7;
			padding: 10px 20px;
		}
		td{
			padding-left: 20px;
		}
	}
}
//edit

.clear{
	clear:both;
}
