// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-new-wrapper, .post-show-wrapper, .post-edit-wrapper{
	margin-top: 150px;
	background-color: #f5f8fa;
}

// new
.title-form{
	width: 80%;
}

.image{
	font-size: 15px;
}

.image-form h3{
	margin-top: 10px;
}

.preview img{
	width: 400px;
	height: 300px;
}

.comment-form h3, .detail-form h3{
	margin-top: 20px;
}

.form .comment{
	font-size: 15px;
	width: 80%;
	height: 150px;
}

.detail-form-table th{
	font-weight: 20;
}

.detail-form-table .input{
	margin-left: 20px;
	width: 100px;
}

.post-form-body .input{
	font-size: 15px;

}

.submit-btn-form{
	
}

input[type="submit"]{
	font-size: 15px;
	margin-top:10px;
	border-style: none;
	padding: 0.5em 1em;
  	background: #f7f7f7;
  	border-left: solid 6px #ff7c5c;
  	color: #ff7c5c;
  	font-weight: bold;
 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
 }

input[type="submit"]:active {
 	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  	transform: translateY(2px);
}

// show

.post-item{
	background-color: white;
  	box-shadow: 0 2px 6px #c1ced7;
  	padding: 25px;
  	width: 70%;
  	margin: 0 auto;
  	position: relative;
}

.post-item h3{
	margin-top: 20px;
}

.post-user-info{
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.post-user-info img{
	vertical-align: middle;
	width: 110px;
	height: 80px;
	border-radius: 50%;
}

.user-name{
	vertical-align: middle;
	text-decoration: none;
	font-size: 24px;
}

.user-name:hover{
	cursor: pointer;
	color: #666666;
}

.post-content{
	padding-bottom: 15px;
	border-bottom: 1px solid #CCCCCC;
}

.post-content img{
	width: 600px;
	height: 400px;
}

.post-comment{
	font-size:20px;
}

.post-time{
	color: #8899a6;
	position: absolute;
	bottom: 0;
	right: 0;
	margin:10px;
}

.post-detail-table{
	border-collapse: collapse;	
}

.post-detail-table th, .post-detail-table td{
	border: 1px solid #B5B5B5;
}

.post-detail-table th{
	background-color: #D7D7D7;
	padding: 10px 20px;
}

.post-detail-table td{
	padding-left: 20px;
}

//edit

.clear{
	clear:both;
}
