// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show
.user-show{
	width: 60%;
	margin: auto;
	padding-bottom: 70px;

	.user {
		text-align: center;
		h3{
			margin-bottom: 20px;
			font-size: 25px;
		}

		a{
			text-decoration: underline;
			color: #969696;
			font-size: 18px;
		}

		img{
			width: 90px;
			height: 90px;
			border-radius: 50%;
		}
	}
}
.user-tabs{
	margin:0;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 2px 6px #c1ced7;

	a{
		display: inline-block;
		padding: 16px 30px;
		color: #afb6bf;
	}

	li{
		float: left;
		&.active{
			border-bottom: 2px solid #3ecdc6;
			a{
				color: #57575f;
			}
		}

	}
}

.posts-index{
	padding: 20px 30px;
	background-color: white;
	box-shadow: 0 2px 6px #c1ced7;

	.post-left{
		float: left;
		padding-left: 25px;
		padding-right: 10px;
		img{
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.post-user-name{
			a{
				font-weight: 500;
				&:hover{
					color: #3ecdc6;
				}
			}
		}
	}

	.post-right{
		display: inline-block;
		img{
			width: 450px;
			height: 350px;
		}
		.a_word{
			font-size: 20px;
		}
		.time{
			color: #8899a6;
			text-align: right;
		}
	}

}