<p><%= @resource.email %>!</p>

<p>以下のリンクからパスワード変更できます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えがない場合、無視してください</p>


<p>当サイトをご利用いただきありがとうございます。</p>
